.false {
    border: 1px solid #575a64;
    border-radius: 5px;
    padding: 5px 9px;
    color: #ddd;
    margin: 0 6px 6px 0;
    cursor: pointer;
    transition: 0.4s;

}

.true {
    transition: 0.4s;
    color: #cae962;
    border: 1px solid #cae962;
    border-radius: 5px;
    padding: 5px 9px;
    margin: 0 6px 6px 0;
    cursor: pointer;
}